*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background: 
    linear-gradient(45deg, #010758,#490d61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-size: 50px;
    font-weight: 500;
    margin: 20px 0px;
    color: #fff;
}
textarea{
    width: 600px;
    height: 250px;
    font-size: 15px;
    border: 0;
    color: #fff;
    border-radius: 10px;
    resize: none;
    padding: 20px;
    margin-bottom: 
    20px;
    outline: none;
    background: #403d84;
}
textarea::placeholder{
    font-size: 16px;
    color: #fff;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background-color: rgb(228, 20, 72);
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 120px;
    align-items: center;
}
button img{
    width: 20px;
}
select{
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: none;
    border: 0;
    border-radius: 10px;
}